{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Add Task
				</div>
				<div class="panel-body">
					<form action="{{ path_for('task.taskup') }}" method="post" autocomplete="off">

					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" name="description" id="description" placeholder="Describe the task" class="form-control">
					</div>

					<div class="form-group clockpicker" data-placement="left" data-align="top" data-donetext="Done" data-twelvehour="false" data-autoclose="true">
						<label for="start">Start Time</label>
					    <input type="text" name="start" id="start" class="form-control" value="">
					</div>

					<div class="form-group clockpicker" data-placement="left" data-align="top" data-donetext="Done" data-twelvehour="false" data-autoclose="true">
						<label for="end">End Time</label>
					    <input type="text" name="end" id="end" class="form-control" value="">
					</div>
					<!--
					<div class="form-group">
						<label for="start">Start Time</label>
						<input type="text" name="start" id="start" placeholder="xxxxxx" class="form-control">
					</div>

					<div class="form-group">
						<label for="end">End Time</label>
						<input type="text" name="end" id="end" placeholder="xxxxxx" class="form-control">
					</div>
					-->
					<input type="hidden" id="email" name="email" value="{{ data }}">

					<button type="submit" class="btn btn-info">Add Task</button>
					<a href="{{ path_for('child.childlist') }}" class="btn btn-danger">Back</a>
                                        
                                        {{ csrf.field | raw }}

				</div
			</div>
		</div>
	</div>

{% endblock %}